/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  width: 50px;
}

/*
=============== 
Particular CSS
===============
*/

body {
  width: 100%;
}
main {
  height: 780px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(212, 138, 0, 0.4)),
    url("/slike/tree.jpg") no-repeat center/cover;
  color: var(--clr-grey-9);
}
#heading {
  color: #ffcc70;
}
fieldset {
  width: 500px;
  padding: 0 1rem;
}

form {
  padding: 1rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  margin-right: 0.5rem;
  background: #ffcc70;
  color: var(--clr-primary-1);
  padding: 0.2rem 0.5rem;
  border: 2px solid var(--clr-white);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.5rem;
}
.btn:hover {
  background: var(--clr-primary-1);
  color: #ffcc70;
}
input,
button,
h2 {
  margin-bottom: 0.5rem;
}

h2 {
  color: #ffcc70;
}

input {
  color: rgb(0, 0, 0);
  accent-color: #ffcc70;
}
input[type="number"] {
  min-width: 190px;
}
h1 {
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 2.5rem;
}

/* 
===========
Media Query
===========
*/
@media screen and (min-height: 880px) {
  main {
    height: 100vh;
  }
}
@media screen and (max-width: 505px) {
  fieldset {
    width: 300px;
  }
  img {
    width: 25px;
  }
}
